<ng-container *ngIf="data?.action == 'create-primaryIndustry' || data?.action == 'update-primaryIndustry'">
    <h4 mat-dialog-title class="my-3 fs-3">{{data?.action == "create-primaryIndustry" ? 'Add' : 'Update'}} Industry</h4>
    <div mat-dialog-content>
        <form [formGroup]="primForm">
            <div>
                <mat-form-field class="fullWidth w-100" appearance="fill">
                    <mat-label>{{data?.type}} </mat-label>
                    <input matInput type="text" name="primary_industry_focus" formControlName="primary_industry_focus">
                    <mat-error *ngIf="primForm.controls['primary_industry_focus']?.errors?.required">This field is required</mat-error>
                </mat-form-field>
            </div>
            <div class="mt-2">
                <mat-form-field class="fullWidth w-100" appearance="fill">
                    <mat-label>Status </mat-label>
                    <mat-select name="status" formControlName="status">
                        <mat-option value="active">Active</mat-option>
                        <mat-option value="inActive">Inactive</mat-option>
                    </mat-select>
                    <mat-error *ngIf="primForm.controls['status']?.errors?.required">This field is required</mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class="mt-2" mat-dialog-actions align="end">
        <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" (click)="savePrim()" [mat-dialog-close]="true" cdkFocusInitial>{{data?.action == "create-primaryIndustry" ? 'Submit' :  'Update'}}</button>
    </div>
</ng-container>
<ng-container *ngIf="data?.action == 'create-secondaryIndustry' || data?.action == 'update-secondaryIndustry'">
    <h4 mat-dialog-title class="my-3 fs-3">{{data?.action == "create-secondaryIndustry" ? 'Add' : 'Update'}} Industry</h4>
    <div mat-dialog-content>
        <form [formGroup]="seconForm">
            <div>
                <mat-form-field class="fullWidth w-100" appearance="fill">
                    <mat-label>{{data?.type}} </mat-label>
                    <input matInput type="text" name="secondary_industry_focus" formControlName="secondary_industry_focus">
                    <mat-error *ngIf="seconForm.controls['secondary_industry_focus']?.errors?.required">This field is required</mat-error>
                </mat-form-field>
            </div>
            <div class="mt-2">
                <mat-form-field class="fullWidth w-100" appearance="fill">
                    <mat-label>Status </mat-label>
                    <mat-select name="status" formControlName="status">
                        <mat-option value="active">Active</mat-option>
                        <mat-option value="inActive">Inactive</mat-option>
                    </mat-select>
                    <mat-error *ngIf="seconForm.controls['status']?.errors?.required">This field is required</mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class="mt-2" mat-dialog-actions align="end">
        <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" (click)="saveSecon()" [mat-dialog-close]="true" cdkFocusInitial>{{data?.action == "create-secondaryIndustry" ? 'Submit' :  'Update'}}</button>
    </div>
</ng-container>