<ng-container>
    <input type="file" id="file" multiple 
        (change)="getFileDetails($event)">

    <button mat-raised-button color="primary" (click)="uploadFiles()">Upload</button>
</ng-container>
<div class="col-xl-12 my-2">
    <ng-container *ngIf="allFiles">
        <ul class="list-group">
            <li class="list-group-item mb-1 p-1 d-flex justify-content-between" 
            *ngFor="let item of allFiles; index as i;">{{item?.name}}  <span class="me-0 m-auto" role="button" tabindex="0" (click)="removeItems(i)">
                <i class="fa fa-times" aria-hidden="true"></i></span>
            </li>
        </ul>
    </ng-container>
    <ng-container *ngIf="allImages?.length > 0">
        <p>fdhfidfhi</p>
    </ng-container>
</div>