<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-4">
    <div class="breadcrumb-title pe-3"><a routerLink="/">Dashboard</a></div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">Setting</li>
            </ol>
        </nav>
    </div>
  </div>
<!--end breadcrumb-->
<div class="row mb-5">
    <div class="col-xl-8 mx-auto">
        <hr/>
        <div class="card border-top border-0 border-4 border-info">
            <div class="card-body">
                <app-loader *ngIf="loading"></app-loader>
                <ng-container *ngIf="!loading">
                    <form [formGroup]="settingForm">
                        <div class="card-title d-flex align-items-center">
                            <h6 class="mb--3 mt-3 text-primary"> General Settings
                                <br>
                                <small class="text-muted">Settings Management Dashboard</small>
                            </h6>
                        </div>
                        <hr>
                        <div class="border p-4 rounded">
                            <div class="row mb-3">
                                <label for="inputSiteTitle" class="col-sm-3 col-form-label d-flex algin-items-center">Site Title<span class="text-danger ms-1 fs-5">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" formControlName="appName" class="form-control" id="inputSiteTitle" placeholder="Site title">
                                    <div class="invalidText fw-bold mt-1 mb-2 m-0 alert alert-danger text-start text-danger p-1 m-0" 
                                        *ngIf="(submitted || settingForm.controls['appName'].touched) && settingForm.controls['appName']?.errors?.required">Site name is required.
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="inputSiteLogo" class="col-sm-3 col-form-label d-flex algin-items-center">Site Logo<span class="text-danger ms-1 fs-5">*</span></label>
                                <div class="col-sm-6">
                                    <input type="file" class="form-control mb-2" formControlName="logo" id="formGroupLink" (change)="onUploadImage($event)" accept="image/*" placeholder="Upload Image" />
                                    <div class="invalidText fw-bold mt-1 mb-2 m-0 alert alert-danger text-start text-danger p-1 m-0" 
                                        *ngIf="(submitted || settingForm.controls['logo'].touched) && settingForm.controls['logo']?.errors?.required">Logo is required.
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-6">
                                        <ng-container *ngIf="image">
                                            <img [src]="image" class="img-fluid my-2 settingLogo" alt="picture">
                                        </ng-container>
                                        <ng-container *ngIf="this.settingData?.logo && !image">
                                            <img [src]="imgPath + this.settingData.logo" class="img-fluid settingLogo" alt="logo">
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputTagLine" class="col-sm-3 col-form-label d-flex algin-items-center">Tagline</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="inputTagLine" placeholder="Tagline">
                                    <small class="text-muted">In a few words, explain what this site is about.</small>
                                </div>

                            </div>
                            <!-- <div class="row mb-3">
                                <label for="inputSiteAddress" class="col-sm-3 col-form-label d-flex algin-items-center">Site Address (URL)<span class="text-danger ms-1 fs-5">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" formControlName="siteAddress" class="form-control" id="inputSiteAddress" placeholder="Site URL">
                                    <div *ngIf="f['siteAddress'].invalid">
                                        <div class="text-danger mt-2"
                                            *ngIf="(f['siteAddress'].touched || submitted) && f['siteAddress'].errors['required']">
                                            Site Address is required.
                                        </div>
                                    </div>
                                </div>

                            </div> -->
                            <div class="row mb-3">
                                <label for="inputEmailAddress2" class="col-sm-3 col-form-label d-flex algin-items-center">Email Address<span class="text-danger ms-1 fs-5">*</span></label>
                                <div class="col-sm-6">
                                    <input type="email" formControlName="email" class="form-control" id="inputEmailAddress2" placeholder="Email Address">
                                    <div class="invalidText fw-bold mt-1 mb-2 m-0 alert alert-danger text-start text-danger p-1 m-0" 
                                        *ngIf="(submitted || settingForm.controls['email'].touched) && settingForm.controls['email']?.errors?.required">Email is required.
                                    </div>
                                    <div class="invalidText fw-bold mt-1 mb-2 m-0 alert alert-danger text-start text-danger p-1 m-0" 
                                        *ngIf="(submitted || settingForm.controls['email'].touched) && settingForm.controls['email']?.errors?.pattern">Email format is incorrect.
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPhone" class="col-sm-3 col-form-label d-flex algin-items-center">Mobile Number<span class="text-danger ms-1 fs-5">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" appNumbersOnly formControlName="mobileNumber" class="form-control" id="inputPhone" placeholder="Phone number">
                                    <div class="invalidText fw-bold mt-1 mb-2 m-0 alert alert-danger text-start text-danger p-1 m-0" 
                                        *ngIf="(submitted || settingForm.controls['mobileNumber'].touched) && settingForm.controls['mobileNumber']?.errors?.required">Mobile number is required.
                                    </div>
                                    <div class="invalidText fw-bold mt-1 mb-2 m-0 alert alert-danger text-start text-danger p-1 m-0" 
                                        *ngIf="(submitted || settingForm.controls['mobileNumber'].touched) && settingForm.controls['mobileNumber']?.errors?.minlength">Mobile Number must be at least 10 characters long.
                                    </div>
                                    <div class="invalidText fw-bold mt-1 mb-2 m-0 alert alert-danger text-start text-danger p-1 m-0" 
                                        *ngIf="(submitted || settingForm.controls['mobileNumber'].touched) && settingForm.controls['mobileNumber']?.errors?.maxlength"> Mobile Number can be max 14 characters long.
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPhone" class="col-sm-3 col-form-label d-flex algin-items-center">Address<span class="text-danger ms-1 fs-5">*</span></label>
                                <div class="col-sm-6">
                                    <textarea formControlName="address" class="form-control" id="addressId" placeholder="Enter address" name="" id="" cols="30" rows="6"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="card-title d-flex align-items-center">
                            <h6 class="mb--3 mt-3 text-primary"> Social Profile Link of all the Social Profile<br>
                                <small class="text-muted">Links of all the social profile.</small>
                            </h6>
                        </div>
                        <hr>
                        <div class="border p-4 rounded">
                            <div class="row mb-3">
                                <label for="inputMeta" class="col-sm-3 col-form-label d-flex algin-items-center">Facebook<span class="text-danger ms-1 fs-5">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" formControlName="facebook" class="form-control" id="inputMeta" placeholder="www.facebook.com">
                                    <div class="invalidText fw-bold mt-1 mb-2 m-0 alert alert-danger text-start text-danger p-1 m-0" 
                                        *ngIf="(submitted || settingForm.controls['facebook'].touched) && settingForm.controls['facebook']?.errors?.required"> Facebook is required.
                                    </div>
                                </div>

                            </div>
                            <div class="row mb-3">
                                <label for="inputInsta" class="col-sm-3 col-form-label d-flex algin-items-center">Instagram<span class="text-danger ms-1 fs-5">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" formControlName="instagram" class="form-control" id="inputInsta" placeholder="www.instagram.com">
                                    <div class="invalidText fw-bold mt-1 mb-2 m-0 alert alert-danger text-start text-danger p-1 m-0" 
                                        *ngIf="(submitted || settingForm.controls['instagram'].touched) && settingForm.controls['instagram']?.errors?.required">Instagram is required.
                                    </div>
                                </div>

                            </div>
                            <div class="row mb-3">
                                <label for="inputLinkedin" class="col-sm-3 col-form-label d-flex algin-items-center">Linkedin<span class="text-danger ms-1 fs-5">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" formControlName="linkedin" class="form-control" id="inputLinkedin" placeholder="www.linkedin.com">
                                    <div class="invalidText fw-bold mt-1 mb-2 m-0 alert alert-danger text-start text-danger p-1 m-0" 
                                        *ngIf="(submitted || settingForm.controls['linkedin'].touched) && settingForm.controls['linkedin']?.errors?.required">Linkedin is required.
                                    </div>
                                </div>

                            </div>
                            <div class="row mb-3">
                                <label for="inputYoutube" class="col-sm-3 col-form-label d-flex algin-items-center">Youtube <span class="text-danger ms-1 fs-5">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" formControlName="youtube" class="form-control" id="inputYoutube" placeholder="wwww.youtube.com">
                                    <div class="invalidText fw-bold mt-1 mb-2 m-0 alert alert-danger text-start text-danger p-1 m-0" 
                                        *ngIf="(submitted || settingForm.controls['youtube'].touched) && settingForm.controls['youtube']?.errors?.required">Youtube is required.
                                    </div>
                                </div>

                            </div>
                            <div class="row mb-3">
                                <label for="inputTwitter" class="col-sm-3 col-form-label d-flex algin-items-center">Twitter <span class="text-danger ms-1 fs-5">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" formControlName="twitter" class="form-control" id="inputTwitter" placeholder="twitter.com">
                                    <div class="invalidText fw-bold mt-1 mb-2 m-0 alert alert-danger text-start text-danger p-1 m-0" 
                                        *ngIf="(submitted || settingForm.controls['twitter'].touched) && settingForm.controls['twitter']?.errors?.required">Twitter is required.
                                    </div>
                                </div>

                            </div>
                            <!-- <div class="row mb-3">
                                <label for="siteAddress" class="col-sm-3 col-form-label">Site Address (URL)</label>
                                <div class="col-sm-6">
                                    <textarea formControlName="siteAddress" id="siteAddress" class="form-control" cols="30" rows="3" placeholder="Site Address..."></textarea>
                                </div>

                            </div> -->
                        </div>
                        <div class="card-title d-flex align-items-center">
                            <h6 class="mb--3 mt-3 text-primary">Copyright text<br>
                            </h6>
                        </div>
                        <hr>
                        <div class="border p-4 rounded">
                            <div class="row mb-3">
                                <label for="inputAddress4" class="col-sm-3 col-form-label d-flex algin-items-center">Copyright Text <span class="text-danger ms-1 fs-5">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" formControlName="footerText" class="form-control" id="inputAddress4" placeholder="Enter Copyright text">
                                    <div class="invalidText fw-bold mt-1 mb-2 m-0 alert alert-danger text-start text-danger p-1 m-0" 
                                        *ngIf="(submitted || settingForm.controls['footerText'].touched) && settingForm.controls['footerText']?.errors?.required">Copy right text is required.
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4" mat-dialog-actions align="center">
                                <button mat-raised-button color="primary" (click)="save()">{{settingData ? 'Update' : 'Add'}}</button>
                            </div>

                        </div>
                    </form>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<!--end row-->