::placeholder {
    font-size: var(--font-S-13)
  }
select {
    font-size: var(--font-S-13);
    color: #777777;
    padding: 0.375rem 0.75rem;
}
.fieldset {
  position: relative;
  .form-label {
    position: absolute;
    top: -15px;
    left: 20px;
    background: #fff;
    color: #ababab;
    padding: 0 5px;
}
}