<h5 mat-dialog-title class="mb-4 mt-0 d-flex align-items-center justify-content-center"><span><strong>News & Updates</strong></span> <mat-icon mat-icon-button color="primary" mat-dialog-close>close</mat-icon></h5>
<hr class="mb-4">
<div mat-dialog-content>
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-5">
            <p class="my-xl-2 my-lg-2 my-md-2 my-sm-2 my-2"><strong>Author : </strong></p>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-7">
            <p class="my-xl-2 my-lg-2 my-md-2 my-sm-2 my-2">{{data.data.author}}</p>
        </div>
    </div>    
    <div class="row"> 
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-5">
            <p class="my-xl-2 my-lg-2 my-md-2 my-sm-2 my-2"><strong>Title : </strong></p>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-7">
            <p class="my-xl-2 my-lg-2 my-md-2 my-sm-2 my-2">{{data.data.title}}</p>
        </div>
    </div>    
    <div class="row"> 
        <div class="col-12">
            <p class="my-xl-2 my-lg-2 my-md-2 my-sm-2 my-2"><strong>Description : </strong></p>
        </div>
        <div class="col-12">
            <div [innerHtml]="data?.data?.description"></div>
        </div>
    </div>    
    <div class="row"> 
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-5">
            <p class="my-xl-2 my-lg-2 my-md-2 my-sm-2 my-2"><strong>Status : </strong></p>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-7">
            <p class="my-xl-2 my-lg-2 my-md-2 my-sm-2 my-2">{{data.data.is_active == "active" ? 'Active' : 'Inactive'}}</p>
        </div>
    </div>
    <div class="row">  
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-5">
            <p class="my-xl-2 my-lg-2 my-md-2 my-sm-2 my-2"><strong>Image : </strong></p>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-7">
            <img class="my-xl-2 my-lg-2 my-md-2 my-sm-2 my-2" src="{{imgPath + data?.data?.newsImage}}" alt="{{data.data.title}} Img">
        </div>  
    </div>
</div>


