<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-4">
    <div class="breadcrumb-title pe-3"><a routerLink="/"><i class="bx bx-home-alt"></i></a></div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a routerLink="/media/gallery">Media</a>
                </li>
                <li class="breadcrumb-item"><a routerLink="/media/magazine">Magazine</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">View Magazine</li>
            </ol>
        </nav>
    </div>
</div>
<!--end breadcrumb-->

<div class="container pt-4">
    <!-- <h5 class="mb-0 text-center fw-bold">View Magazine</h5> -->
    <div class="card border-top border-0 border-4 border-primary my-3 mb-5">
        <div class="card-body px-5 py-3">
            <app-loader *ngIf="loading"></app-loader>
            <ng-container *ngIf="!loading">
                <div class="row">
                    <div class="col-xl-6 my-xl-2" *ngIf="magazineData?.magazine_name">
                        <label class="form-label mb-1 fw-bold fs-6">Magazine Name :</label><br />
                        <p class="m-0 fs-6 text-capitalize">{{ magazineData?.magazine_name }}</p>
                    </div>
                    <div class="col-xl-6 my-xl-2" *ngIf="magazineData?.link">
                        <label class="form-label mb-1 fw-bold fs-6">Link :</label><br />
                        <p class="m-0 fs-6 text-capitalize"><a href="{{ magazineData?.link }}" target="_blank">{{ magazineData?.link }}</a></p>
                    </div>
                    <div class="col-xl-6 my-xl-2" *ngIf="magazineData?.order_by">
                        <label class="form-label mb-1 fw-bold fs-6">Order By :</label><br />
                        <p class="m-0 fs-6 text-capitalize">{{ magazineData?.order_by }}</p>
                    </div>
                    <div class="col-xl-6 my-xl-2" *ngIf="magazineData?.status">
                        <label class="form-label mb-1 fw-bold fs-6">Status :</label><br />
                        <p class="m-0 fs-6 text-capitalize">
                    {{ magazineData?.status == "active" ? 'Active': 'Inactive' }}
                        </p>
                    </div>
                    <div class="col-xl-6 my-xl-2" *ngIf="magazineData?.created_at">
                        <label class="form-label mb-1 fw-bold fs-6">Created At :</label><br />
                        <p class="m-0 fs-6 text-capitalize">{{ magazineData?.created_at | date }}</p>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 my-xl-2" *ngIf="magazineData?.file">
                            <img [src]="imgPath + magazineData?.file" class="img-fluid my-2" alt="picture">
                        </div>
                    </div>
                        
                </div>
            </ng-container>
        </div>
    </div>
</div>
