<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3"><a routerLink="/"><i class="bx bx-home-alt"></i></a></div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a routerLink="/about-us/leadership-team">About Us</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">View Leadership</li>
            </ol>
        </nav>
    </div>
</div>
<!--end breadcrumb-->

<div class="get-featured px-4 pb-5">
    <div class="container">
        <!-- <div class="align-items-center justify-content-between my-2">
            <h5 class="mb-0 text-gray-800 text-center fw-bold">View Leadership Detail</h5>
        </div> -->
        <app-loader *ngIf="loading"></app-loader>
        <ng-container *ngIf="!loading">
            <div class="row my-3 p-3 bg-white alumni-body card border-top border-0 border-4 border-primary">
                <div class="col-12 text-center p-3 border" >

                    <div class="row">
                        <div class="col-md-4 my-2 h-100">
                            <div class="text-start d-flex flex-column h-100 justify-content-between">
                                <label class="form-label fw-bold">Name:</label>
                                <p>{{teamDetail?.name}}</p>
                            </div>
                        </div>
                        <div class="col-md-4 my-2 h-100">
                            <div class="text-start d-flex flex-column h-100 justify-content-between">
                                <label class="form-label fw-bold">Designation:</label>
                                <p>{{teamDetail?.designation}}</p>
                            </div>
                        </div>
                        <div class="col-md-4 my-2 h-100">
                            <div class="text-start d-flex flex-column h-100 justify-content-between">
                                <label class="form-label fw-bold">Order:</label>
                                <p>{{teamDetail?.order}}</p>
                            </div>
                        </div>
                        <div class="col-md-4 my-2 h-100">
                            <div class="text-start d-flex flex-column h-100 justify-content-between">
                                <label class="form-label fw-bold">Status:</label>
                                <p>{{teamDetail?.status == "active" ? 'Active' : 'Inactive'}}</p>
                            </div>
                        </div>
                        <div class="col-md-4 my-2 h-100">
                            <div class="text-start d-flex flex-column h-100 justify-content-between">
                                <label class="form-label fw-bold">Institute:</label>
                                <p>{{teamDetail?.institute_name}}</p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-4 my-2 h-100">
                            <div class="text-start d-flex flex-column h-100 justify-content-between">
                                <!-- <label class="form-label fw-bold">Image:</label> -->
                                <img [src]="imgPath + teamDetail?.image" class="img-fluid my-2" alt="picture">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </ng-container>
    </div>
</div>