.forgotPasswordPage{
    background-color: #4253F0;
    .headingText{
        font-family: "roboto";
        font-size: 36px;
    }
    input{
        border-color:#3D5EE1;
        &::placeholder {
            font-size: 16px;
            color: #000 !important;
        }
    }
    input.ng-invalid.ng-touched {
        border: red 1px solid;
    }
    input.ng-valid.ng-touched {
        border: green 1px solid;
    }
    .sendBtn {
        background-color: #3D5EE1;
    }

}
