<div class="loginPage h-100 bg-white">
    <div class="row h-100">
        <div class="col-xl-5 col-lg-5 col-md-6 align-self-center">
            <div class="row justify-content-center">
                <div class="col-xxl-7 col-xl-7 col-lg-8">
                    <h5 class="mb-5 text-center headingText">Login As Admin</h5>
                    <form class="row g-3 needs-validation" [formGroup]="loginForm">
                        <div class="col-12">
                            <!-- <label for="validationEmail" class="form-label">Email Address</label> -->
                            <input type="email" class="form-control p-xxl-3 p-xl-3 p-lg-2 shadow-none"  id="validationEmail" formControlName="email" placeholder="Email">
                            <div class="invalidText fw-bold mt-1 mb-2 m-0 alert alert-danger text-start text-danger p-1 m-0" *ngIf="(f.email.touched || submitted) && f.email.errors?.required">
                                Email is required.
                            </div>
                            <div class="invalidText fw-bold mt-1 mb-2 m-0 alert alert-danger text-start text-danger p-1 m-0" *ngIf="f.email.dirty && f.email.errors?.pattern">
                                Email format is incorrect.
                            </div>
                        </div>
                        <div class="col-12">
                            <!-- <label for="validationEmail" class="form-label">Email Address</label> -->
                            <div class="input-group has-validation">
                                <input type="password" class="form-control p-xxl-3 p-xl-3 p-lg-2" id="userPassword" aria-describedby="inputGroupPrepend" formControlName="password" placeholder="Password" required>
                                <span class="input-group-text password_icon" id="inputGroupPrepend" (click)="togglePassword()">
                                    <a><i [ngClass]="showPassword?.type == 'text' ? 'fa fa-eye' : 'fa fa-eye-slash'" aria-hidden="true"></i></a>
                                </span>
                            </div>
                        
                            <div class="invalidText fw-bold mt-1 mb-2 m-0 alert alert-danger text-start text-danger p-1 m-0" *ngIf="(f.password.touched || submitted) && f.password.errors?.required">
                                Password is required.
                            </div>
                            <div class="invalidText fw-bold mt-1 mb-2 m-0 alert alert-danger text-start text-danger p-1 m-0" *ngIf="(f.password.touched || submitted) && f.password.errors?.minlength">
                                Password must be at least 6 characters long.
                            </div>
                            <div class="invalidText fw-bold mt-1 mb-2 m-0 alert alert-danger text-start text-danger p-1 m-0 mt-2" *ngIf="(f.password.touched || submitted) && f.password.errors?.maxlength">
                                Password can be max 10 characters long.
                            </div>
                        </div>

                        <!-- <div class="col-12">
                            <label for="validationPassword" class="form-label">Password</label>
                            <div class="input-group has-validation">
                                <input type="password" class="form-control p-2" id="userPassword" aria-describedby="inputGroupPrepend" formControlName="password" placeholder="Password" required>
                                <span class="input-group-text" id="inputGroupPrepend" style="cursor:pointer;" (click)="togglePassword()"><a><i [ngClass]="this.showPassword?.type == 'text' ? 'fa fa-eye' : 'fa fa-eye-slash'" aria-hidden="true"></i></a></span>
                                <div class="invalid-feedback">Please enter password.</div>
                            </div>
                        </div> -->
                        <div class="col-md-12 text-center"> <a role="button" tabindex="0" (click)="onForgotpassword()">Forgot Password ?</a>
                        </div>
                        <div class="col-12 text-center">
                            <div class="spinner-border text-primary justify-content-center" role="status" *ngIf="loading"> <span class="visually-hidden">Loading...</span>
                            </div>
                            <button *ngIf="!loading" type="submit" class="btn btn-primary authenticateBtn" (click)="login()"><i class="bx bxs-lock-open"></i>Authenticate</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-6 bgImg">
            <div class="position-relative">
                <div class="position-relative">
                    <img class="image" src="./assets/images/login-images/bg.png" alt="background login">
                    <div class="position-absolute top-0 px-xl-5 px-lg-5 px-4">
                        <!-- <img class="image" src="./assets/images/login-images/Group 427318995.png" alt="background login"> -->
                        <video autoplay loop>
                            <source [src]="sideVid" type="video/mp4">
                            <source src="movie.ogg" type="video/ogg">
                            Your browser does not support the video tag.
                          </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>