
<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-4">
    <div class="breadcrumb-title pe-3"><a routerLink="/"><i class="bx bx-home-alt"></i></a></div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a routerLink="/media/gallery">Media</a>
                </li>
                <li class="breadcrumb-item text-capitalize"><a routerLink="/media/magazine">Magazine</a>
                </li>
                <li class="breadcrumb-item active text text-capitalize" aria-current="page">{{ pageType !== 'update-magazine' ? 'Add' : 'Update' }} Magazine</li>
            </ol>
        </nav>
    </div>
</div>
<!--end breadcrumb-->


<div class="row">
    <div class="col-xl-9 mx-auto">
        <!-- <h5 class="mb-3 text-center fw-bold">{{ pageType !== 'update-journey' ? 'Add' : 'Update' }} {{type}}</h5>
        <hr/> -->
        <div class="card border-top border-0 border-4 border-primary">
            <div class="card-body p-5">
                <app-loader *ngIf="loading"></app-loader>
                <ng-container *ngIf="!loading">
                    <form class="example-form" [formGroup]="magazineForm">
                        <div class="mb-3 row">
                            <div class="col-sm-10 col-md-6 my-2">
                                <label for="staticEmail" class="col-form-label fw-bold">Magazine Name : <span class="text-danger">*</span></label>
                                <input type="text" formControlName="magazine_name" class="form-control" placeholder="Enter magazine name here">
                                <div class="invalidText fw-bold mt-2 m-0 alert alert-danger text-danger p-1 m-0" 
                                    *ngIf="(submitted || magazineForm.controls['magazine_name'].touched) && magazineForm.controls['magazine_name']?.errors?.required">Magazine name is required.
                                </div>
                            </div>
                            <div class="col-sm-10 col-md-6 my-2">
                                <label for="staticEmail" class="col-form-label fw-bold">Magazine Link : <span class="text-danger">*</span></label>
                                <input type="text" formControlName="link" class="form-control" placeholder="Enter link here">
                                <div class="invalidText fw-bold mt-2 m-0 alert alert-danger text-danger p-1 m-0" 
                                    *ngIf="(submitted || magazineForm.controls['link'].touched) && magazineForm.controls['link']?.errors?.required">Magazine link is required.
                                </div>
                            </div>

                            <div class="col-sm-10 col-md-6 my-2">
                                <label for="formGroupExampleInput" class="col-form-label fw-bold ">Status : <span class="text-danger">*</span></label>
                                <select formControlName="status" class="form-select rounded-0.25">
                                    <option value="" selected>Choose your Option</option>
                                    <option [value]="item?.status" *ngFor="let item of status; let i=index;">
                                        {{ item?.status == "active" ? 'Active' : 'Inactive' }}
                                    </option>
                                </select>
                                <div class="invalidText fw-bold mt-2 m-0 alert alert-danger text-danger p-1 m-0" 
                                    *ngIf="(submitted || magazineForm.controls['status'].touched) && magazineForm.controls['status']?.errors?.required">Status is required.
                                </div>
                            </div>
                            <div class="col-sm-10 col-md-6 my-2">
                                <div class="text-start">
                                    <label class="form-label fw-bold">Please upload your picture
                                        </label>
                                        <input type="file" class="rounded-0.25 custom-form form-control" formControlName="file" (change)="onUploadImage($event)" accept="image/*" />
                                        <div class="invalidText fw-bold mt-1 mb-2 m-0 alert alert-danger text-start text-danger p-1 m-0" 
                                            *ngIf="(submitted || magazineForm.controls['file'].touched) && magazineForm.controls['file']?.errors?.required">Image is required.
                                        </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-4 mt-3">
                                        <ng-container *ngIf="image">
                                            <img [src]="image" class="img-fluid h-100 my-2" alt="picture">
                                        </ng-container>
                                        <ng-container *ngIf="!image && pageType === 'update-magazine' && this.updatedFile">
                                            <img [src]="imgPath + this.updatedFile" class="img-fluid h-100" alt="logo">
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center my-4">
                            <div class="row justify-content-center">
                                <div class="my-2" mat-dialog-actions align="center">
                                    <button mat-raised-button color="warn" class="me-2" [routerLink]="['/media/magazine']">Back</button>
                                    <button mat-raised-button color="primary" (click)="save()">{{ pageType !== 'update-magazine' ? 'Add' : 'Update' }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </ng-container>
            </div>
        </div>
    </div>
</div>