<div class="view-container">
    <h4 class="m-0 px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2 pb-2 text-center"><b>Business Ventures</b></h4>
    <div class="view-details">
        <p class="px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2"><b>Company : </b>{{data.data.company}}</p>
        <p class="px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2"><b>Owner : </b>{{data.data.owner}}</p>
        <p class="px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2"><b>Contact : </b>{{data.data.contact}}</p>
        <p class="px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2"><b>Email : </b>{{data.data.email}}</p>
        <p class="px-xl-4 px-lg-4 px-md-3 px-sm-2 px-2"><b>Status : </b>{{data.data.status}}</p>
    </div>
</div>