<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-4">
    <div class="breadcrumb-title pe-3"><a routerLink="/"><i class="bx bx-home-alt"></i></a></div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a routerLink="/collaborate/mentor">Collaborate</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Mentor</li>
            </ol>
        </nav>
    </div>
</div>
<!--end breadcrumb-->

<div class="row justify-content-end m-0">
  <div class="col-3 text-end">  
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon matTooltip="Click to add filter">filter_alt</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-checkbox color="primary" [(ngModel)]="nameChecked" ngInit="nameChecked=true" labelPosition="after" >Name</mat-checkbox>
      </button>
      <button mat-menu-item>
          <mat-checkbox color="primary" [(ngModel)]="emailChecked" ngInit="emailChecked=true" labelPosition="after" >Email</mat-checkbox>
      </button>
      <button mat-menu-item>
          <mat-checkbox color="primary" [(ngModel)]="mobileChecked" ngInit="mobileChecked=true" labelPosition="after" >Mobile</mat-checkbox>
      </button>
      <button mat-menu-item>
        <mat-checkbox color="primary" [(ngModel)]="instituteChecked" ngInit="instituteChecked=true" labelPosition="after">Institute</mat-checkbox>
      </button>
      <button mat-menu-item>
        <mat-checkbox color="primary" [(ngModel)]="batchChecked" ngInit="batchChecked=true" labelPosition="after">Batch</mat-checkbox>
      </button>
      <button mat-menu-item>
        <mat-checkbox color="primary" [(ngModel)]="skillChecked" ngInit="skillChecked=true" labelPosition="after">Skill</mat-checkbox>
      </button>
      <button mat-menu-item>
        <mat-checkbox color="primary" [(ngModel)]="priIndustryChecked" ngInit="priIndustryChecked=true" labelPosition="after">Primary Industry</mat-checkbox>
      </button>
      <button mat-menu-item>
        <mat-checkbox color="primary" [(ngModel)]="secIndustryChecked" ngInit="secIndustryChecked=true" labelPosition="after">Secondary Industry</mat-checkbox>
      </button>
      <button mat-menu-item>
        <mat-checkbox color="primary" [(ngModel)]="priFunctionChecked" ngInit="priFunctionChecked=true" labelPosition="after">Primary Function</mat-checkbox>
      </button>
      <button mat-menu-item>
        <mat-checkbox color="primary" [(ngModel)]="secFunctionChecked" ngInit="secFunctionChecked=true" labelPosition="after">Secondary Function</mat-checkbox>
      </button>
    </mat-menu>
  </div>
</div>

<div class="">
  <div class="row my-3 p-3 bg-white alumni-body card border-top border-0 border-4 border-primary m-0">
      <div class="col-12 p-3 border" >
      <div class="search-filter mt-3">
          <form class="" [formGroup]="searchForm">
          <div class="row g-3">
              <div class="fieldset col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 my-3" *ngIf="nameChecked">
                  <label class=" form-label fw-bold">Search By Name </label>
                  <input type="text" class="form-control py-xl-3 py-lg-3 py-md-3 py-2" formControlName="first_name" placeholder="Search by name">
              </div>
              <div class="fieldset col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 my-3" *ngIf="emailChecked">
                  <label class=" form-label fw-bold">Search By Email </label>
                  <input type="email" class="form-control py-xl-3 py-lg-3 py-md-3 py-2" formControlName="email" placeholder="Search by Email">
              </div>
              <div class="fieldset col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 my-3" *ngIf="mobileChecked">
                  <label class=" form-label fw-bold">Search By Mobile Number </label>
                  <input type="text" appNumbersOnly class="form-control py-xl-3 py-lg-3 py-md-3 py-2" formControlName="mobile_number" placeholder="Search by mobile number">
              </div>
              <div class="fieldset col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 my-3" *ngIf="instituteChecked">
                <label class=" form-label fw-bold">Search By Institute</label>
                <select class="form-select py-xl-3 py-lg-3 py-md-3 py-2" formControlName="institute_id">
                  <option value="" selected>Select your institute</option>
                  <option [value]="institute?.id" *ngFor="let institute of getInstitutes">
                    {{ institute?.institute_name }}
                  </option>
                </select>
              </div>
              <div class="fieldset col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 my-3" *ngIf="batchChecked">
                <label class=" form-label fw-bold">Search By Batch</label>
                <select class="form-select py-xl-3 py-lg-3 py-md-3 py-2" formControlName="batchYear_id">
                  <option value="" selected>Select your batch</option>
                  <option [value]="batch?.id" *ngFor="let batch of getBatch">
                    {{ batch?.batch }}
                  </option>
                </select>
              </div>
              <div class="fieldset col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 my-3" *ngIf="skillChecked">
                <label class=" form-label fw-bold">Search By Skill</label>
                <select class="form-select py-xl-3 py-lg-3 py-md-3 py-2" formControlName="skill">
                  <option value="" selected>Select Skill</option>
                  <option [value]="item?.skill" *ngFor="let item of skill">
                    {{ item?.skill }}
                  </option>
                </select>
              </div>
              <div class="fieldset col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 my-3" *ngIf="priIndustryChecked">
                <label class=" form-label fw-bold">Search By Primary industry</label>
                <select class="form-select py-xl-3 py-lg-3 py-md-3 py-2" formControlName="primary_industry_focus">
                  <option value="" selected>Select Primary industry</option>
                  <option [value]="item?.primary_industry_focus" *ngFor="let item of primaryInd">
                    {{ item?.primary_industry_focus }}
                  </option>
                </select>
              </div>
              <div class="fieldset col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 my-3" *ngIf="secIndustryChecked">
                <label class=" form-label fw-bold">Search By Secondary industry</label>
                <select class="form-select py-xl-3 py-lg-3 py-md-3 py-2" formControlName="secondary_industry_focus">
                  <option value="" selected>Select Secondary industry</option>
                  <option [value]="item?.secondary_industry_focus" *ngFor="let item of secondaryInd">
                    {{ item?.secondary_industry_focus }}
                  </option>
                </select>
              </div>
              <div class="fieldset col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 my-3" *ngIf="priFunctionChecked">
                <label class=" form-label fw-bold">Search By Primary function</label>
                <select class="form-select py-xl-3 py-lg-3 py-md-3 py-2" formControlName="primary_function_area">
                  <option value="" selected>Select Primary function</option>
                  <option [value]="item?.primary_function_area" *ngFor="let item of primaryFunc">
                    {{ item?.primary_function_area }}
                  </option>
                </select>
              </div>
              <div class="fieldset col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 my-3" *ngIf="secFunctionChecked">
                <label class=" form-label fw-bold">Secondary Functional Area</label>
                <select class="form-select py-xl-3 py-lg-3 py-md-3 py-2" formControlName="secondary_function_area">
                  <option value="" selected>Select Secondary function</option>
                  <option [value]="item?.secondary_function_area" *ngFor="let item of secondaryFunc">
                    {{ item?.secondary_function_area }}
                  </option>
                </select>
              </div>
          </div>
          <div class="my-2" mat-dialog-actions align="start">
              <button mat-raised-button color="primary" (click)="searchData()">Search</button>
              <button class="ms-2" mat-raised-button color="warn" *ngIf="formReset" (click)="resetForm()">Reset</button>
          </div>
          </form>
      </div>
      </div>  
  </div>
</div>


<div class="mat-elevation-z4 mb-4">
    <!-- <div class="d-flex justify-content-end">
      <button mat-fab color="primary" (click)="add()" class="m-2" aria-label="Example icon button with a delete icon">
        <mat-icon>add</mat-icon>
      </button>
    </div> -->
    <div class="table-responsive">
      <table mat-table [dataSource]="getMentor" matSort class="mat-elevation-z4 w-100">
        <ng-container [matColumnDef]="'sr.no'">
          <th class="text-capitalize fs-6 text-center" mat-header-cell *matHeaderCellDef>Sr. no.</th>
          <td class="text-center ps-4" mat-cell *matCellDef="let element;index as i;">
              <p>{{i+1}}</p>
          </td>
        </ng-container>

          <ng-container [matColumnDef]="'profile_pic'">
            <th class="text-capitalize fs-6 text-center" mat-header-cell *matHeaderCellDef>Name</th>
            <td class="text-center ps-4" mat-cell *matCellDef="let element">
                <img class="tableImg" [src]="element?.profile_pic ? imgPath + element?.profile_pic : './assets/images/dummyImg.jpg'" alt="img"/><span> {{element?.first_name}}</span>
            </td>
          </ng-container>

          <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef>
                  <div style="display: flex; align-items: center;">
                      <span mat-sort-header class="text-capitalize fs-6">{{column | replaceUnderscore}}</span>
                      <!-- <button mat-icon-button>
                        <mat-icon mat-icon-button color="primary" [matMenuTriggerFor]="menu"
                          [matMenuTriggerData]="{columnName: column}">filter_list </mat-icon>
                      </button> -->
                  </div>
              </th>
              <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
          </ng-container>

          <ng-container [matColumnDef]="'addMentee'">
              <th class="text-capitalize fs-6" mat-header-cell *matHeaderCellDef> Add Mentee </th>
              <td mat-cell *matCellDef="let element">
                  <button mat-icon-button (click)="add(element, 'add-menteeMentor')">
                    <mat-icon mat-icon-button color="accent">add</mat-icon>
                  </button>
              </td>
          </ng-container>

          <ng-container [matColumnDef]="'actions'">
              <th class="text-capitalize fs-6 text-center" mat-header-cell *matHeaderCellDef> Actions </th>
              <td class="text-center" mat-cell *matCellDef="let element">
                  <button mat-icon-button (click)="view(element)">
                      <mat-icon mat-icon-button color="accent">visibility</mat-icon>
                  </button>
                  <button mat-icon-button (click)="edit(element, 'update-mentorship')">
                      <mat-icon mat-icon-button color='primary'>edit</mat-icon>
                  </button>
              </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
    </div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 50]" showFirstLastButtons></mat-paginator>
</div>

<!-- menu for column filtering-->
<mat-menu #menu="matMenu" class="matMenu">
    <ng-template matMenuContent let-dataColumnName="columnName">
        <div class="flex-column p-2" (click)="$event.stopPropagation();">
            <div class="mb-1">

                <mat-form-field class="fullWidth w-100" appearance="outline">
                    <mat-label>Choose a filter *</mat-label>
                    <mat-select #selectedOperationFilter [value]="'contains'">
                        <mat-option value="contains" select>Contains</mat-option>
                        <mat-option value="equals">Equals</mat-option>
                        <mat-option value="greaterThan">Greater than</mat-option>
                        <mat-option value="lessThan">Less than</mat-option>
                        <mat-option value="endWith">End with</mat-option>
                        <mat-option value="startWith">Start With</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="mb-1 fullWidth">
                <mat-form-field class="fullWidth" appearance="outline">
                    <mat-label>write a value*</mat-label>
                    <input matInput #searchValue type="text">
                </mat-form-field>
            </div>
            <div class="fullWidth d-flex flex-row mb-1  justify-content-around">
                <button [disabled]="!searchValue.value" mat-raised-button color="primary" class="flex-row flex-align-center btn-filter-action" (click)="applyFilter(dataColumnName, selectedOperationFilter.value,  searchValue.value)">
            <mat-icon>check</mat-icon>
            <label>filter</label>
          </button>
                <button mat-raised-button class="flex-row flex-align-center btn-filter-action" color="warn" (click)="clearFilter(dataColumnName)">
            <mat-icon>clear</mat-icon>
            <label>reset</label>
          </button>
            </div>
        </div>
    </ng-template>
</mat-menu>