<div class="row">
    <div class="col-lg-12">
        <app-loader *ngIf="loading"></app-loader>
        <ng-container *ngIf="!loading">
            <form [formGroup]="experienceForm" (ngSubmit)="edit()">

                <div class="row">

                    <div class="fieldset col-xl-4 col-lg-4 col-md-4 my-xl-3 my-lg-3 my-3">
                        <label class="form-label fw-bold">Company name </label>
                        <input type="text" class="form-control py-xl-3 py-lg-3 py-md-3 py-2" formControlName="company_name"
                            placeholder="Enter company name">
                    </div>
                    <div class="fieldset col-xl-4 col-lg-4 col-md-4 my-xl-3 my-lg-3 my-3">
                        <label class="form-label fw-bold">Job title </label>
                        <input type="text" class="form-control py-xl-3 py-lg-3 py-md-3 py-2" formControlName="job_title" placeholder="Enter job title">
                    </div>
                    <div class="fieldset col-xl-4 col-lg-4 col-md-4 my-xl-3 my-lg-3 my-3">
                        <label class="form-label fw-bold">Start date </label>
                        <input type="date" placeholder="DD/MM/YYYY" formControlName="start_date" class="form-control py-xl-3 py-lg-3 py-md-3 py-2">
                        <!-- <input type="text" placeholder="dd/mm/yyyy" formControlName="start_date" class="form-control"
                            bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"> -->
                    </div>
                    <div class="fieldset col-xl-4 col-lg-4 col-md-4 my-xl-3 my-lg-3 my-3">
                        <label class="form-label fw-bold">End date </label>
                        <input type="date" placeholder="DD/MM/YYYY" formControlName="end_date" class="form-control py-xl-3 py-lg-3 py-md-3 py-2">
                        <!-- <input type="text" placeholder="dd/mm/yyyy" formControlName="end_date" class="form-control"
                            bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"> -->
                    </div>
                    <div
                        class="col-xl-4 col-lg-4 col-md-4 my-xl-3 my-lg-3 my-3 d-flex align-items-center justify-content-xl-center justify-content-lg-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" formControlName="current_working" value="0" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Current working
                            </label>
                        </div>
                    </div>
                    <div class="fieldset col-xl-4 col-lg-4 col-md-4 my-xl-3 my-lg-3 my-3">
                        <label for="exampleFormControlTextarea1" class="form-label fw-bold">High level summary </label>
                        <textarea class="form-control py-xl-3 py-lg-3 py-md-3 py-2" formControlName="summary" id="exampleFormControlTextarea1" placeholder="Enter high level summary"
                            rows="2"></textarea>
                    </div>

                </div>

                <!-- <div class="row">
                    <div class="col-lg-4 my-xl-3 my-lg-3 my-2">
                        <label class="form-label fw-bold">Company name </label>
                        <input type="text" class="form-control" formControlName="company_name"
                            placeholder="Enter company name">
                    </div>
                    <div class="col-lg-4 my-xl-3 my-lg-3 my-2">
                        <label class="form-label fw-bold">Job title </label>
                        <input type="text" class="form-control" formControlName="job_title" placeholder="Enter job title">
                    </div>
                    <div class="col-lg-4 my-xl-3 my-lg-3 my-2">
                        <label class="form-label fw-bold">Start date </label>
                        <input type="date" placeholder="DD/MM/YYYY" formControlName="start_date" class="form-control">
                    </div>
                </div> -->

                <!-- <div class="row">
                    <div class="col-lg-3 my-xl-3 my-lg-3 my-2">
                        <label class="form-label fw-bold">End date </label>
                        <input type="date" placeholder="DD/MM/YYYY" formControlName="end_date" class="form-control">
                    </div>
                    <div
                        class="col-lg-3 my-xl-3 my-lg-3 my-2 d-flex align-items-center justify-content-xl-center justify-content-lg-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" formControlName="current_working" value="0" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Current working
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6 my-xl-3 my-lg-3 my-2">
                        <label for="exampleFormControlTextarea1" class="form-label fw-bold">High level summary </label>
                        <textarea class="form-control" formControlName="summary" id="exampleFormControlTextarea1" placeholder="Enter high level summary"
                            rows="2"></textarea>
                    </div>
                </div> -->

                <ng-container *ngFor="let items of addItems().controls; let i=index" [formGroupName]="i">
                    <div class="border border-info p-3 my-2">

                        <div class="row my-2">

                            <div class="fieldset col-xl-4 col-lg-4 col-md-4 my-xl-3 my-lg-3 my-3">
                                <label class="form-label fw-bold">Company name </label>
                                <input type="text" class="form-control py-xl-3 py-lg-3 py-md-3 py-2" formControlName="company_name"
                                    placeholder="Enter company name">
                            </div>
                            <div class="fieldset col-xl-4 col-lg-4 col-md-4 my-xl-3 my-lg-3 my-3">
                                <label class="form-label fw-bold">Job title </label>
                                <input type="text" class="form-control py-xl-3 py-lg-3 py-md-3 py-2" formControlName="job_title"
                                    placeholder="Enter job title">
                            </div>
                            <div class="fieldset col-xl-4 col-lg-4 col-md-4 my-xl-3 my-lg-3 my-3">
                                <label class="form-label fw-bold">Start date </label>
                                <input type="date" placeholder="DD/MM/YYYY" formControlName="start_date" class="form-control py-xl-3 py-lg-3 py-md-3 py-2">
                                <!-- <input type="text" placeholder="dd/mm/yyyy" formControlName="start_date" class="form-control"
                                    bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"> -->
                            </div>
                            <div class="fieldset col-xl-4 col-lg-4 col-md-4 my-xl-3 my-lg-3 my-3">
                                <label class="form-label fw-bold">End date </label>
                                <input type="date" placeholder="DD/MM/YYYY" formControlName="end_date" class="form-control py-xl-3 py-lg-3 py-md-3 py-2">
                                <!-- <input type="text" placeholder="dd/mm/yyyy" formControlName="end_date" class="form-control"
                                    bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"> -->
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 my-xl-3 my-lg-3 my-3 d-flex align-items-center justify-content-xl-center justify-content-lg-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" formControlName="current_working" id="flexCheckDefault1">
                                    <label class="form-check-label" for="flexCheckDefault1">
                                        Current working
                                    </label>
                                </div>
                            </div>
                            <div class="fieldset col-xl-4 col-lg-4 col-md-4 my-xl-3 my-lg-3 my-3">
                                <label for="exampleFormControlTextarea1" class="form-label fw-bold">High level summary
                                </label>
                                <textarea class="form-control py-xl-3 py-lg-3 py-md-3 py-2" formControlName="summary" id="exampleFormControlTextarea1" placeholder="Enter high level summary"
                                    rows="2"></textarea>
                            </div>
                            
                        </div>

                        <!-- <div class="row my-2">
                            <div class="col-lg-4 my-xl-3 my-lg-3 my-2">
                                <label class="form-label fw-bold">Company name </label>
                                <input type="text" class="form-control" formControlName="company_name"
                                    placeholder="Enter company name">
                            </div>
                            <div class="col-lg-4 my-xl-3 my-lg-3 my-2">
                                <label class="form-label fw-bold">Job title </label>
                                <input type="text" class="form-control" formControlName="job_title"
                                    placeholder="Enter job title">
                            </div>
                            <div class="col-lg-4 my-xl-3 my-lg-3 my-2">
                                <label class="form-label fw-bold">Start date </label>
                                <input type="date" placeholder="DD/MM/YYYY" formControlName="start_date" class="form-control">
                               
                            </div>
                        </div> -->

                        <!-- <div class="row">
                            <div class="col-lg-3 my-xl-3 my-lg-3 my-2">
                                <label class="form-label fw-bold">End date </label>
                                <input type="date" placeholder="DD/MM/YYYY" formControlName="end_date" class="form-control">
                                
                            </div>
                            <div class="col-lg-3 my-xl-3 my-lg-3 my-2 d-flex align-items-center justify-content-xl-center justify-content-lg-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" formControlName="current_working" id="flexCheckDefault1">
                                    <label class="form-check-label" for="flexCheckDefault1">
                                        Current working
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6 my-xl-3 my-lg-3 my-2">
                                <label for="exampleFormControlTextarea1" class="form-label fw-bold">High level summary
                                </label>
                                <textarea class="form-control" formControlName="summary" id="exampleFormControlTextarea1" placeholder="Enter high level summary"
                                    rows="2"></textarea>
                            </div>
                        </div> -->

                        <div class="row">
                            <div class="col text-end">
                                <button type="button" (click)="removeItems(i)" class="bg-transparent border-0 closeBtn"
                                    aria-label="Close">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <!-- <div class="row justify-content-center">
                    <div class="col-lg-4 text-center">
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button type="button" (click)="addQuantity()" class="btn btn-sm btn-success rounded me-2">Add
                                Items</button>
                            <button type="button" (click)="edit()" class="btn btn-sm btn-success rounded">Update</button>
                        </div>
                    </div>
                </div> -->
                <div class="my-3" mat-dialog-actions align="center" *ngIf="isFormEditable">
                    <button class="me-2" mat-raised-button color="warn" type="button" (click)="addQuantity()">Add Items</button>
                    <button mat-raised-button color="primary" type="submit">Update</button>
                </div>
            </form>
        </ng-container>
    </div>
</div>