.avatars {
    height: 100px;
    width: 100px;
    object-fit: cover;
}
@font-face {
    font-family: roboto-medium;
    src: url('./../../assets/fonts/Roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: roboto;
    src: url('./../../assets/fonts/Roboto/Roboto-Regular.ttf');
}
.user-profile {
    i.lni.lni-pencil {
        margin: 26px 0 0 -14px;
        font-size: 13px;
        cursor: pointer;
        padding: 7px !important;
    }
    li.nav-item {
        margin: 0 6px;
    }
    .upload-profile-pic {
        position: absolute;
        background: red;
        opacity: 0;
        left: 0;
        height: 100px;
        cursor: pointer;
        z-index: 555;
    }
    .profileInfo {
        h5{
            font-size: 16px;
            font-family: roboto-medium;
        }
        .otherInfo {
            font-size: 14px;
            font-family: roboto;
            font-weight: 300;
        }
    }
    .card{
        .card-body{
            .nav-item{
                .nav-link{
                    border: 1px solid #3D5EE1;
                    color: #3D5EE1;
                }
                .nav-link.active{
                    background-color: #3D5EE1;
                    color: #fff;
                }
            }
        }
    }
}
.pointsCard {
    width: 174px;
    border-radius: 12px;
    // height: 144px;
    h5{
        font-size: 16px;
    }
    .roundPoint{
        background-color: black;
        text-align: center;
        height: 68px;
        width: 74px;    
        margin: auto;
        -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        .totalPoints{
            font-size: 36px;
            color: #fff;
            font-family: roboto;
            font-weight: 500;
        }
    }
}
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 20px;
  }